:root {
  --blue: rgb(75, 153, 245);
  --white: rgb(255, 255, 255);
  --black: #343434;
  --text: rgba(0, 0, 0, 0.8);
  --text-light: rgba(0, 0, 0, 0.4);
  --gray-bg: #f6f6f6;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
